* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: georgia;
}

/*Start Nav Styling*/

#title {
  width: 185px;
  height: 26px;
  padding-left: 17%;
}

nav {
  width: 1200px;
  height: 40px;
  position: fixed;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  background-color: white;
}

.nav-content {
  padding-right: 30px;
}

ul {
  display: inline;
}

nav button {
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  font-size: 11px;
  padding-bottom: 5px;
  padding: 7px 9px;
  border-radius: 3px;
}

nav button:hover {
  background-color: #f7f7f5;
}

#sections {
  border: 1px solid #e2e2e2;
}

nav .left-nav {
  float: right;
  list-style-type: none;
}

nav .left-nav li {
  display: inline;
}

#login {
  color: white;
  background-color: #6288a5;
  border-radius: 3px;
  padding: 7px 9px;
  font-size: 11px;
  margin-right: 10px;
}

#login:hover {
  background-color: #326891;
}

/*End Nav Styling*/
/*Start Ribbon Styling*/
.ribbon {
  width: 21%;
  height: 65px;
  position: relative;
  border-left: 1px solid #ccc;
  float: left;
  padding: 8px 3px 8px 8px;
}

.ribbons {
  position: fixed;
  margin-top: 50px;
  width: 1200px;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1000;
}

.clearfix {
  clear: both;
}

.ribbon img {
  float: left;
  width: 65px;
  height: 65px;
  padding-right: 10px;
}

.ribbon p {
  float: left;
  width: 65%;
}

.ribbon p:hover {
  text-decoration: underline;
}

.ribbon article {
  /*padding: 5px 3px 5px 5px;*/
  font-size: 13px;
}
/*End Ribbon Styling*/

/*Start Main Content*/
.main-page {
  position: absolute;
  margin-top: 140px;
  border: 1px solid #ccc;
  width: 1200px;
  padding-top: 25px;
  z-index: 1;
}

.main-container {
  width: 1000px;
  border-top: 1px solid #e2e2e2;
  margin: 0 auto;
}

.main-container h2 {
  font-size: 13px;
  margin-bottom: 32px;
  margin-top: 8px;
}

.main-container h1 {
  margin-bottom: 10px;
  font-size: 34px;
}

.article-information {
  padding: 14px 0 20px 0;
  border-top: 1px solid #e2e2e2;
}

.story-metadata {
  display: inline;
}

.story-metadata * {
  display: inline;
  font-size: 11px;
}

.story-metadata h6 a {
  text-decoration: none;
  color: black;
}

.story-metadata h6 a:hover {
  text-decoration: underline;
}

.article-information ul {
  list-style-type: none;
  float: right;
}

.article-information ul li {
  display: inline;
  padding-left: 10px;
}

.article-information ul #border-left {
  border-left: 1px solid #e2e2e2;
}

.article-information .circle {
  color: #333;
}

.article-information span .fa-inverse:hover {
  background-color: #326891;
  border-radius: 50%;
}

/*Below Image Styling*/
.caption {
  width: 60%;
}

#caption-text {
  font-size: 12px;
  color: #666;
}

#credit {
  font-size: 12px;
  color: #aaa;
}

.first-page {
  float: left;
  width: 55%;
  margin-left: 75px;
  margin-top: 50px;
}

.first-page p {
  padding-bottom: 17px;
  line-height: 26px;
  font-size: 17px;
}

.comments {
  float: right;
  width: 30%;
  padding-top: 130px;
}

.comments h2 {
  font-size: 12px;
  font-weight: 700;
  color: #326891;
}

.comments p {
  font-size: 13px;
  color: #666;
}

header .name {
  font-size: 13px;
  font-weight: 700;
}

header .date {
  font-size: 12px;
  color: #999;
}

.comments a {
  font-size: 10px;
  text-decoration: none;
  border-top: 1px solid #e2e2e2;
  display: block;
  margin-top: 15px;
  padding-top: 10px;
}

.comments a:hover {
  text-decoration: underline;
}

/*Start Universe Picture*/
#theory-heading {
  border-top: 1px solid #e2e2e2;
  padding-top: 15px;
  font-size: 20px;
  margin: 0;
}

#theory-p {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
  width: 945px;
}

.relative-img-holder img {
  width: 945px;
  height: 576px;
}

.relative-img-holder {
  position: relative;
}

.absolute-p {
  position: absolute;
  width: 228px;
  font-size: 13px;
  line-height: 17px;
}

.absolute-p span {
  font-weight: bold;
}

.relative-img-holder .first {
  top: 150px;
  left: 0;
}

.relative-img-holder .second {
  top: 150px;
  left: 240px;
}

.relative-img-holder .third {
  top: 150px;
  left: 480px;
}

.relative-img-holder .fourth {
  top: 150px;
  left: 720px;
}

.relative-img-holder .fifth {
  top: 430px;
  left: 0;
}

.relative-img-holder .sixth {
  top: 430px;
  left: 240px;
}

.relative-img-holder .seventh {
  top: 430px;
  left: 480px;
}

.relative-img-holder .eighth {
  top: 430px;
  left: 720px;
}

#credit {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 12px;
}

#img-credit {
  margin-top: 50px;
  font-size: 10px;
  color: #999;'
}

/*End Universe Image styling*/

/*Start Video Styling*/
iframe {
  margin-bottom: 12px;
}

#video p {
  font-size: 13px;
  color: #666;
}

#video span {
  font-size: 11px;
  color: #999;
}

#picture p {
  font-size: 13px;
  color: #666;
}

#picture span {
  font-size: 11px;
  color: #999;
}

#picture {
  width: 675px;
}

hr {
  width: 60px;
  height: 1px;
  background-color: black;
}

#cite {
  padding-top: 16px;
  font-size: 11px;
  color: #999;
  line-height: 14px;
}

/*Start Pre Footer Styles*/

.pre-footer {
  margin-top: 15px;
  border-top: 1px solid #e2e2e2;
  width: 675px;
  position: relative;
  float: left;
  padding-top: 10px;
  }

.pre-footer a {
  text-decoration: none;
}

.pre-footer a:hover {
  text-decoration: underline;
}

#more {
  float: left;
  color: black;
  font-weight: bold;
}

#go-to {
  float: right;
  font-size: 11px;
  text-decoration: none;
  color: #6288a5;
}

.pics-6 {
  list-style-type: none;
  width: 675px;
  float: left;
}

.pics-6 li {
  width: 210px;
  height: 218px;
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

.pics-6 li p {
  padding-top: 6px;
}

.pics-padding-right {
  padding-right: 22px;
}

/*Start aside trends*/
.trends {
  border-top: 1px solid #e2e2e2;
  float: right;
  width: 32%;
  margin-top: -550px;
}

.trends h2 {
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trends ol li {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 5px;
  width: 100%;
}

.trends ol li span {
  font-size: 14px;
  color: #326891;
}

.trends ol li  img {
  float: right;
}

.trends a {
  color: #326891;
  font-size: 11px;
  text-decoration: none;
}

/*End Main Content*/

.empty {
  height: 100px;
}

/*Start Footer Styles*/

footer {
  width: 1050px;
  margin: 0 auto;
  border-top: 3px solid #e2e2e2;
  padding-top: 10px;
  padding-bottom: 30px;
}

footer header {
  padding-bottom: 30px;
}

footer .menu {
  list-style-type: none;
}

footer h3 {
  font-size: 13px;
  margin-bottom: 14px;
}

footer .menu li {
  margin-bottom: 8px;
}

footer .menu li a:hover {
  text-decoration: underline;
}

footer .menu li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

footer .column {
  width: 15%;
  float: left;
}

footer .column-right {
  float: right;
  width: 16%;
  border-left: 1px solid #e2e2e2;
  padding-left: 10px;
}

footer .column-right .menu-right li a {
  font-weight: bold;
  font-size: 13px;
}

footer .column-right .secondary-menu li a {
  font-size: 9px;
}

footer .column-right .secondary-menu li {
  margin-bottom: 0;
}

#underlined-li {
  border-top: 1px solid #e2e2e2;
  margin-top: 10px;
  padding-top: 5px;
}

/*End index styling*/

/*Start Socket Styling*/

.socket {
  width: 1050px;
  margin: 0 auto;
  border-top: 3px solid #e2e2e2;
  padding-top: 10px;
  margin-top: 30px;
  padding-bottom: 14px;
}

.socket ul {
  list-style-type: none;
}

.socket ul li {
  display: inline-block;
  font-size: 9px;
  border-right: 1px solid #e2e2e2;
  padding-right: 5px;
}

.socket ul li a {
  color: #999;
  text-decoration: none;
}

.socket ul li a:hover {
  text-decoration: underline;
}

.socket .right {
  float: right;
}

.socket ul .no-right-border {
  border-right: none;
}
